@import '../../assets/global.scss';

.content {
	width: $desktopWidth;
}

.container {
	background-color: $piSecondary;
	display: flex;
	justify-content: center;
	padding: 2rem 1rem 0;
}

.islandsGroup {
    display: grid;
    gap: 2rem;
	grid-template-columns: 1fr 1fr;
}


@media screen and (max-width: $tabletWidth) {
    .islandsGroup {
		grid-template-columns: 1fr;
	}
}
