.panelChildren {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	--islandPanelBgColor: #f6f7fa;
}

.contactsInfo {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.contactsData {
	display: flex;
	flex-wrap: wrap;

	color: var(--piPrimary);

	div {
		margin: 0 0.5rem 0.5rem 0;
	}
}
