$piHighlight: #31fac2;
$piPrimary: #2659e1;
$piWhite: #ffffff;
$piBlack: #000000;
$piHighlifhtDark: #250848;
$piSecondary: #f6f7fa;
$piTextSecondary: #989898;

$piBlackTransparent: rgba(0, 0, 0, 0.5);
