:global(.title-m-bold) {
	color: $piBlack;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

:global(.text-m) {
	font-size: 0.75rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

:global(.title-s-bold) {
	color: $piBlack;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

:global(.title-L-bold) {
	color: $piBlack;
	font-size: 3rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
