@import '../../assets/global.scss';

.navBar nav {
	max-width: $desktopWidth;
	width: 100%;

	display: flex;

	justify-content: space-between;

	padding: 1rem;
}

.logo {
	min-width: 140px;
}

.navBar {
	box-shadow: 0px 0.25rem 1.3rem 0 rgba(0, 0, 0, 0.1);
	height: 4rem;
	background-color: $piWhite;

	display: flex;
	align-items: center;
	justify-content: center;
}

.navItems {
	display: flex;
	gap: 1rem;
	margin: -1rem 0;
}

.navItemsWrapper {
	display: flex;

	justify-content: space-around;

	flex: 1;
}

.navItem {
	display: flex;

	align-items: center;
	justify-content: center;
	transition: border-bottom ease-in-out 0.3s;
}

.navItem a {
	transition: color 0.1s ease-in-out;
	color: var(--piTextSecondary);
}

.navItem a:hover {
	transition: color 0.1s ease-in-out;
	color: $piBlack;
}

.navItem.navItemActive {
	border-bottom: $piBlack 0.25rem solid;
	animation: borderBottomFade 0.3s ease-in-out;
}

.navItem.navItemActive a {
	color: $piBlack;
}

.menuIcon {
	display: none;
}

.menuBurger {
	display: none;
}

@media screen and (max-width: $tabletWidth) {
	.menuBurger {
		display: block;
		position: absolute;
		background-color: var(--piWhite);

		top: 4rem;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.navItemsWrapper {
		display: none;
	}

	.menuIcon {
		display: block;
	}

	.navItem.navItemActive {
		border-bottom: none;
	}

	.menuBurgerItems {
		display: flex;
		padding: 1rem 2rem;
		gap: 1rem;
		flex-direction: column;
		align-items: start;
	}
}
