@import '../../assets/global.scss';

.content {
	width: $desktopWidth;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.container {
	background-color: $piSecondary;
	display: flex;
	justify-content: center;
	padding: 2rem 1rem 0;

	height: 100vh;
}

.islandsContainer {
	display: flex;
    flex-direction: row;
	gap: 2rem;
    
}

.islandsGroup {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    flex: 1 1 0;
}

.panelChildren  {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    --islandPanelBgColor: #F6F7FA;
}
