@import '../../assets/global.scss';

.content {
	width: $desktopWidth;
	display: flex;
	gap: 2rem;
	flex-direction: column;
}

.container {
	background-color: $piSecondary;
	display: flex;
	justify-content: center;
	padding: 2rem 1rem 2rem;
}

.islandsContainer {
	display: flex;
	flex-direction: row;
	gap: 2rem;
}

.islandsGroup {
	display: flex;
	gap: 2rem;
	flex-direction: column;

	flex: 1 1 0;
}

.panelChildren {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
	--islandPanelBgColor: #f6f7fa;
}

.contactsInfo {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.contactsData {
	display: flex;
	flex-wrap: wrap;

	color: var(--piPrimary);

	div {
		margin: 0 0.5rem 0.5rem 0;
	}
}

@media screen and (max-width: $tabletWidth) {
	.islandsContainer {
		flex-direction: column;
	}
}
